@import "_header";

body {
  font-size: 20px;
  text-align: center;
  color: aqua;
  div {
    font-size: 10px;
  }
}
.block {
  color: #000;
}

.block__item {
  color: #000;
}
.red {
  color: red;
}
